@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F0F2F5] bg-no-repeat;
  }
  .leftNav_border {
    @apply mx-auto border-b-[1px] border-b-black/10;
  }

  .home_page {
    @apply top-12 w-[85%] sm:w-[90%] ml-[4rem] md:w-[90%]  md:ml-16 md2:w-[80%] md2:ml-[7rem] xl:w-[47%] 3xl:w-[45rem] mt-14 4lg:w-[60%] 5lg:w-[65%] lg3:ml-24 xl:mx-auto h-full;
  }
  .acc_option {
    @apply w-full cursor-pointer hover:bg-black/5 rounded-lg pl-4 py-2 flex items-center;
  }

  .page_option {
    @apply bg-black/20 w-6 h-6 rounded-full;
  }

  .promotion_option {
    @apply ml-3 text-[14px] text-[#5a5c5f];
  }

  .contact_options {
    @apply cursor-pointer p-2 w-[2rem] h-[2rem] rounded-full flex items-center justify-center hover:bg-black/5;
  }

  .feed_section {
    @apply w-full inline-block mx-auto;
  }

  .post_options {
    @apply w-full gap-2 flex items-center justify-center cursor-pointer py-2 hover:bg-black/5 rounded-lg;
  }

  .post_interaction {
    @apply hover:bg-black/10 w-1/3 cursor-pointer rounded-lg flex items-center justify-center gap-2 mobile:py-1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}
